* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}        

:root {
    --blue: #1e90ff;
    --green: green;
    --white: #ffffff;
    --black: black;
  }

.main-container {
    max-width: 1200px;
    margin: auto;
}

header {
    background: rgb(76, 6, 227);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
}
.logo a::first-letter {
    initial-letter: 2;
    initial-letter: 1.2;
    font-size: 170%;
    font-weight: bold;
    color: #06caca;
  }
header ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
}
header ul li a {
    color: #fff;
    text-decoration: none;
}

.card {
    text-align: center;
    background: #fff;
    position: relative;
    transition: .5s;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    background: linear-gradient(135deg, #1515cb 50%, #fff 50%);
    box-shadow: 5px 5px 5px #c6c6c6;
    transition: .5s;
}
.card:hover::before {
    width: 60px;
    height: 60px;
}

footer {
    background: var(--blue);
    color: var(--white);
    padding: 30px;
    width: 100%;
}